/Resources/addon/Barcode.zip
/Resources/addon/Barcodex64.zip
/Resources/addon/MacBarcode.zip
/Resources/addon/Pdf.zip
/Resources/addon/Pdfx64.zip
/Resources/DynamicWebTWAIN.cab
/Resources/DynamicWebTWAINActiveX.exe
/Resources/DynamicWebTWAINHTML5Edition.exe
/Resources/DynamicWebTWAINHTML5MACTrialEdition.pkg
/Resources/DynamicWebTWAINMacEdition.pkg
/Resources/DynamicWebTWAINPlugIn.msi
/Resources/DynamicWebTWAINx64.cab
/Resources/dynamsoft.webtwain.initiate.js
